@font-face {
    font-family: 'alegreya_sans_scregular';
    src: url('../fonts/AlegreyaSansSC-Regular-webfont.eot');
    src: url('../fonts/AlegreyaSansSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSansSC-Regular-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSansSC-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSansSC-Regular-webfont.svg#alegreya_sans_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sans_scmedium';
    src: url('../fonts/AlegreyaSansSC-Medium-webfont.eot');
    src: url('../fonts/AlegreyaSansSC-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSansSC-Medium-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSansSC-Medium-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSansSC-Medium-webfont.svg#alegreya_sans_scmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansregular';
    src: url('../fonts/AlegreyaSans-Regular-webfont.eot');
    src: url('../fonts/AlegreyaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Regular-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Regular-webfont.svg#alegreya_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansmedium';
    src: url('../fonts/AlegreyaSans-Medium-webfont.eot');
    src: url('../fonts/AlegreyaSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Medium-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Medium-webfont.svg#alegreya_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sanslight';
    src: url('../fonts/AlegreyaSans-Light-webfont.eot');
    src: url('../fonts/AlegreyaSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Light-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Light-webfont.svg#alegreya_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansthin';
    src: url('../fonts/AlegreyaSans-Thin-webfont.eot');
    src: url('../fonts/AlegreyaSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Thin-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-Thin-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Thin-webfont.svg#alegreya_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_sansthin_italic';
    src: url('../fonts/AlegreyaSans-ThinItalic-webfont.eot');
    src: url('../fonts/AlegreyaSans-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/AlegreyaSans-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-ThinItalic-webfont.svg#alegreya_sansthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{background:#0095BA;font-family:'OpenSansLight'; font-size:1.9em; line-height:1.9em; color:#6D727D;}
a, strong{font-family:'OpenSansSemibold';font-weight:normal;}
em, .content-callout{font-family:'OpenSansLightItalic'; font-style:normal;}
a, .subnav-style a:hover, .subnav-style a.active-trail{color:#394E77;}
a{text-decoration:underline;}
a.def{font-family:'OpenSansBold'; color:#E69C30; text-decoration:none; }

.nav a{text-decoration:none;}
.main-menu a{font-size:1.3em;}
.main-menu a{font-family:'alegreya_sansregular';}
.main-menu a:hover, .main-menu a.active-trail, .main-menu a.active{color:#E69C30;}
.main-menu a.active, .main-menu a.active-trail{border-bottom:#E69C30 3px solid;font-family:'alegreya_sansmedium';}

.region-top-header{font-family:'alegreya_sans_scregular'; text-transform:uppercase; font-size:0.7em; }
.search input{line-height:0.9em;}
.search input[type=submit]{line-height:1.4em;}
.search input[type=text]{font-family:'OpenSansRegular';}
.top-menu a{color:#F2E298;}
.top-menu .active-trail, .top-menu a:hover{color:#fff;}

h2, .subnav-style a{font-family:'alegreya_sanslight';}
h1{font-family:'alegreya_sansthin'; color:#fff; font-size:2.8em; margin:4px 0 0 220px; letter-spacing:-.01em; padding-bottom:5px;}
h2{color:#5D93B4; font-size:2.0em; letter-spacing:-.02em;}
h3{font-family:'OpenSansSemibold'; margin-bottom:0px; letter-spacing:-.03em; line-height:1.5em;}
.resource-header, .reference-header{font-family:'alegreya_sansregular'; font-size:1.5em; text-transform:uppercase; padding-top:20px; margin:40px 0 15px 0;}
.reference-list li{font-size:1.4em; color:#D8A014; margin-bottom:18px;}
.reference-list p{font-size:0.62em; color:#6D727D; line-height:1.6em;}
.resource-list p{font-size:0.88em; line-height:1.6em; margin-bottom:25px;}
.landing-page-opening{font-size:1.20em; line-height:2.0em;}

.content-callout{font-size:1.25em; line-height:1.6em; color:#6C792A;}
.content-callout a{font-size:0.93em;}

.def-container{font-family:'OpenSansItalic'; font-size:0.9em; line-height:1.5em;}

.highlight-header h3, .emphasize{color:#7A992C; font-size:1.1em; font-family:'OpenSansItalic'; font-weight:normal;}

.special-reference-container .citation{font-size:0.8em; line-height:1.6em;}
.special-reference-container ol.citation li{margin-bottom:10px;}

.first-letter-signs{font-size:110%; font-family:'OpenSansRegular';}
h2 .first-letter-signs{font-size:150%; font-family:'alegreya_sansregular';}
.caution{font-family:'OpensansItalic';}
.caution strong{font-family:'OpensansSemiboldItalic';}


@media (max-width: 767px) {
	body{padding-left:0; padding-right:0;}
}
