/********************
 * STATIC STYLING
 ************************/
/** Overall styles **/
.region-content p{margin-bottom:30px;}
.region-content ul{list-style-image:url('../images/square_bullet.gif'); margin-top:-27px;}
sup{margin-left:-.25em; margin-right:.4em;}
/** Header **/
.header{height:133px; position:relative;}
.header .navbar-fixed-top{z-index:400;}
.tagline-wrap{margin-left:-28px; background:#A8B773; height:38px; display:inline-block; width:403px;}
.tagline{margin:10px 0 0 20px;}
.main-header{background:#F9F1C1; height:95px;}
.logo{height:133px; background:#0095BA; position:absolute; top:0; z-index:50;border-bottom:#7FCADC 14px solid; padding:0 15px;}
.logo img{margin:12px 0 0 10px;}

/** Top area and top menu **/
.top-area{height:38px; background:#7A992C;}
.top-header{height:38px;}
.region-top-header{float:right;}
.search{margin-left:20px;}
.top-menu li{float:left;}
.top-menu li.leaf{padding-top:0;}
.top-menu .nav a{padding:0;}

/** Main menu **/
nav li{float:left;}
nav li ul{display:none;}
.header .navbar-default{background:none; border-radius:0; box-shadow:0 0 0 0; border:none;}
.navbar-default .navbar-collapse{border:none;}
.navbar-collapse{border:#e69c30 2px solid;}
.main-menu{margin-top:16px;}
.main-menu .nav li a{padding:7px 3px; margin:0 12px;}

.left-col-width{width:184px;}

/** page content **/
.content-padding{padding:80px 90px;}
.page{background:#fff;}
.title{overflow:hidden;}
.title, .title-graphic{/*height:66px;*/}
.title-graphic{background:#EEBA6F; position:relative; float:left; padding-bottom:1000px; margin-bottom:-1000px; margin-left:-30px;}
.landing-page-opening{border-bottom:#E69C30 2px solid; padding-bottom: 20px; margin-bottom:50px;}

.reference-list a{z-index:10;}
.reference-list li{}
.reference-list li:before, .jump:before{content:""; display:block; padding-top:135px; margin:-135px 0 0 0; height:145px;}


/** Subnav **/
.subnav{float:left; margin:15px 53px 20px 0;}
.subnav-style, .title{background:#E69C30;}
.subnav-style{padding:80px 13px 5px 13px;}
.subnav-style ul.menu li{margin:0;}
.subnav-style li{padding:12px 0; border-bottom:#fff 1px solid;}
.subnav-style a{color:#fff; font-size:1.2em; line-height:1.2em;}
.subnav-style li:last-child{border-bottom:none;}
.subnav .nav li a{padding:0;}

/** Home page **/
.porthole{text-align: center; margin:0 4% 20px 4%;}
.porthole img{margin:0 auto;}
.heading, .heading:hover{text-decoration:none;} 
.heading{display:block; padding-bottom:13px; border-bottom:#e69c30 12px solid; margin-bottom:20px;}
.meet-txt{padding-left:20px; padding-right:20px;}
.take-txt{padding-left:50px; padding-right:70px;}
/*
.meet-img{background:url('../images/portholes.png') 0 0 no-repeat;}
.take-img{background:url('../images/portholes.png') 0 0 no-repeat;}
.appt-img{background:url('../images/portholes.png') 0 0 no-repeat;}
*/
/*
.heading:after{content:""; display:block; height:200px;border-top:#e69c30 12px solid; margin:10px; width:auto;}
.meet:after{content:""; display:block; background:url('../images/portholes.png') 0 10px no-repeat; }
*/

/** Def-container **/
.def-container{position:absolute; background:#F7F1C2; padding:10px 20px 0px 20px; width:300px; z-index:100; color:#6C792A; border:#6C792A 1px solid;}


/** Content callout **/
.content-callout{border-top:#D8A014 2px solid; border-bottom:#D8A014 2px solid; display:block; margin:60px auto; padding:45px 0 30px; width:80%; text-align:center;}
.content-callout p{padding:0 8%;}
.content-callout h2{margin-top:0;}

/** Reference and resource styles **/
.reference-header{color:#D8A014;}
.resource-header{color:#7a992c;}
.region-content .reference-list{overflow:visible; padding-left:50px;}

/** Special reference styles **/
.special-reference-container{background:#ECEFDC;}
.special-reference-container .padding{padding:12px 35px;}
.special-reference-header{background:#A8B773; color:#fff;}
.special-reference-content{color:#4B6E00;}

/** Highlight container **/
.highlight-container{min-height:150px; margin-bottom:30px; width:auto; overflow:hidden;}
.highlight-container .padding{padding:10px 25px;}
.highlight-header{background:#FBF9E4;}
.highlight-header h2, .highlight-header h3{margin:0 0 3px 0;}
.highlight-content ul{margin-top:0;}

/** skin changes **/
.skin-changes{margin:0 30px 20px 0;}
.skin-changes p{line-height:1.4em;}
.skin-changes img{float:left; border:#6d727d 1px solid; margin-right:15px;}

/** Skin images **/
.skin-imgs h2{margin:4px 0;}
.first-letter-signs{background:#3194B7; margin:5px; padding:3px 10px; color:#fff;}
h2 .first-letter-signs{padding:0 15px; display:inline-block;}

/** Risk factor **/
.risk-factors{margin:0}
.risk-factor{background:#f9f1c1; height:400px; margin:0 60px 60px 0; font-size:0.9em;}

/** Dermlite content and form**/
.your-dermlite ol{margin-left:15px;}


/** Footer **/
footer{padding:10px 30px 80px 30px;}
.footer-topbar{height:44px; background:#F7F1C2;}
.footer-logos{margin: 10px 0 0 0;}
.footer-logos a{position:relative;}
.footer-logos a{margin-right:60px;}
.logo-top-space{margin-top:30px;}
.logo-padding{padding-top:36px;}
.footer-menu-copyright{float:right; text-align:right;margin-right:0; margin-top:35px;}
.footer-menu-copyright p{margin:0;}
.footer-menu-copyright nav ul, .footer-menu-copyright nav li{list-style-image:none; list-style:none;}
.footer-menu-copyright, .footer-menu-copyright nav a, .footer-menu-copyright .legal a{color:#F8F4D2;}
.footer-menu-copyright nav li{background:none; padding:0 13px; border-right:#F8F4D2 1px solid; height:auto; line-height:1em; float:left;}
.footer-menu-copyright nav li:last-child{padding-right:0; border:0;} .footer-menu-copyright nav a { padding:0; display:inline; font-size:1em;} .footer-menu-copyright nav ul{float:right;} .footer-menu-copyright .legal,.footer-menu-copyright .legal a {} .footer-menu-copyright .legal{clear:right; font-size:.65em; line-height:1.6em;}
.footer-menu-copyright .legal a{ text-decoration:underline; margin-left:3px;}

/** Misc **/
.region-content .no-bullet{list-style:none;}
.space-before-list{margin-bottom:30px;}
.region-content .space-above-list{margin-top:0;}
.float-correct{width:auto; overflow:hidden;}
.float-left{float:left;}
.float-list{width:auto; overflow:hidden; padding-left:25px;}
.clr, .clr-after:after{clear:both;}
.clr-after:after{content:""; display:block;}
.width-test{background:#7fcadc; height:40px; border:#000 1px solid;}
.indent{margin-left:30px;}
.caution{background:#FFFFD1; padding:1% 2%; color:#D68C4F; border:#FFE57D 1px solid;}
li.caution{margin:0.6% 0;}



/************************
 * LARGE DESKTOP
 ************************/

@media (min-width: 1200px) {
}

@media (max-width: 991px) {
	.content-padding{padding:5% 4% 5% 0;}
	.region-content p{margin-bottom:20px;}
	.header .navbar-default{background:#f9f1c1;}
	.landing-page-opening{padding-bottom:2%; margin-bottom:4%;}
	.main-menu .nav > li > a {display:inline-block;}
	.main-header nav li{float:none;}
	.submenu-reveal{float:right; display:inline-block; height:22px; width:22px;}
	.main-menu .dropdown-menu{background:none; border-radius:0; box-shadow:0 0 0; position:relative; float:none;}
}


/************************
 * MEDIUM DESKTOP
 ************************/
@media (max-width: 767px) {
	/** overall **/
	.main-header .col-md-10, .main-header .container, .main-header .row, .header .navbar-fixed-top{margin:0; padding:0;}
	.top-area{overflow:hidden;}
	/*.mobile-home, .header{overflow:hidden;}*/
	.mobile-container{overflow:hidden;}
	.header{height:78px; background:#fff;}
	.tagline-wrap{margin:0 0 0 6%; width:100%;}
	.tagline{width:65%; margin:8px 0 0 80px;}
	.logo-top-space{margin-top:0;}
	.logo{height:79px;border-bottom:#7FCADC 8px solid;}
	.logo img{margin:9px 0 0 0;}
	.main-header{height:52px;}
	.top-area, .top-header, .tagline-wrap{height:26px;}
	.left-col-width{margin-left:0; width:100px;}
	.region-content ul{margin-top:-20px;}

	/* Homepage icons */
	.mobile-home{background:#FBF8E1; padding:6% 0 0 3%; border-top:#E69C30 30px solid; width:100%;}
	.mobile-container{margin:0 auto; padding:0; width:100%;}
	.ask-icon, .dermalite-icon{display:block; float:left;}
	.ask-icon:hover, .dermalite-icon:hover{opacity:0.5;}
	.ask-icon{width:37.6%; margin:2.5% -6.6%;}
	.dermalite-icon{width:60%; margin:2.5% 0 2.5% 5%;}
	.ask-icon img{width:100%;}
	.dermalite-icon img{width:100%;}
	.know{background:url("../images/know.svg") 50% 0 no-repeat;}
	.get{background:url("../images/get.svg") 50% 0 no-repeat;}
	.check{background:url("../images/check.svg") 50% 0 no-repeat;}
	.view{background:url("../images/view.svg") 50% 0 no-repeat;}
	.sunscreen{background:url("../images/sunscreen.svg") 50% 0 no-repeat;}
	.appt{background:url("../images/appt.svg") 50% 0 no-repeat;}
	.watch{background:url("../images/watch.svg") 50% 0 no-repeat;}
	.quiz{background:url("../images/quiz.svg") 50% 0 no-repeat;}
	.contact{background:url("../images/contact.svg") 50% 0 no-repeat;}
	.dermalite{background:url("../images/dermalite.svg") 50% 0 no-repeat;}

	/** Content callout **/
	.content-callout{margin:30px auto; padding:20px 0 8px; width:90%;}

	/** Highlight container **/
	.highlight-content img{margin:0 auto;}
	.highlight-container .padding{padding-bottom:5px; padding-top:5px;}
	.highlight-container .padding:nth-child(1){padding-right:15px; padding-left:15px;}
	.highlight-container .padding:nth-child(2){padding-right:0; padding-left:0;}
	/** Special reference styles **/
	.special-reference-container .padding{padding:8px 18px;}
	.indent{margin-left:0;}

	/** footer **/
	footer{padding-left:0;}
	.footer-menu-copyright{float:none; text-align:center; font-size:0.9em;}
	.footer-menu-copyright nav{margin:0 auto; display:inline-block;}
	.footer-menu-copyright nav ul{padding:0;}
}
/************************
 * TABLET
 ************************/
@media (min-width: 992px) {
}

/************************
 * PHONE
 ************************/

