/********************
 * STATIC STYLING
 ************************/
/** Overall styles **/
.region-content p{margin-bottom:30px;}
.region-content ol, .region-content ul{width:auto; overflow:hidden; padding-left:25px;}
.region-content ul{list-style-image:url('../images/square_bullet.gif'); margin-top:-27px;}
sup{margin-left:-.25em; margin-right:.4em;}
/** Header **/
.header{height:133px; position:relative;}
.top-area{height:38px; background:#7A992C;}
.top-header{}
.tagline{margin-left:-28px; background:url('../images/ask_tagline.gif') 0 0 no-repeat; height:38px;}
.main-header{background:#F9F1C1; height:95px;}
.logo{height:133px; background:#0095BA; position:absolute; top:0; z-index:50;border-bottom:#7FCADC 14px solid; padding:0 15px;}
.logo img{margin:12px 0 0 10px;}

nav li{float:left;}
nav li ul{display:none;}
.main-menu{margin-top:16px;}
.main-menu .nav li a{padding:10px 3px; margin:0 12px;}
.nav li a:hover{background:none !important;}

.left-col-width{width:184px;}

/** page content **/
.content-padding{padding:80px 90px;}
.page{background:#fff;}
.title{height:66px;}
.title-graphic{background:#E4BC5A; position:relative; float:left; height:66px;}
.landing-page-opening{border-bottom:#D8A014 2px solid; padding-bottom: 20px; margin-bottom:50px;}

.reference-list li:before{content:""; display:block; height:135px; margin:-135px 0 0;}

/** Misc **/
.space-before-list{margin-bottom:30px;}
.float-correct{width:auto; overflow:hidden;}

/** Subnav **/
.subnav{float:left; margin:15px 53px 20px 0;}
.subnav-style, .title{background:#D8A014;}
.subnav-style{padding:80px 13px 5px 13px;}
.subnav-style ul.menu li{margin:0;}
.subnav-style li{padding:12px 0; border-bottom:#fff 1px solid;}
.subnav-style a{color:#fff; font-size:1.2em; line-height:1.2em;}
.subnav-style li:last-child{border-bottom:none;}
.subnav .nav li a{padding:0;}


/** Content callout **/
.content-callout{border-top:#D8A014 2px solid; border-bottom:#D8A014 2px solid; display:block; margin:60px auto; padding:45px 0 30px; width:80%; text-align:center;}
.content-callout p{padding:0 8%;}

/** Footer **/
footer{padding:10px 30px 80px 30px;}
.footer-topbar{height:44px; background:#F7F1C2;}
.footer-logos{margin: 10px 0 0 0;}
.footer-logos, .footer-logos a{float:left;}
.footer-logos a{position:relative;}
.footer-logos a{margin-right:60px;}
.logo-padding{padding-top:36px;}
.footer-menu-copyright{float:right; text-align:right;margin-right:0; margin-top:35px;}
.footer-menu-copyright nav ul, .footer-menu-copyright nav li{list-style-image:none; list-style:none;}
.footer-menu-copyright, .footer-menu-copyright nav a, .footer-menu-copyright .legal a{color:#F8F4D2;}
.footer-menu-copyright nav li{background:none; padding:0 13px; border-right:#F8F4D2 1px solid; height:auto; line-height:1em; float:left;}
.footer-menu-copyright nav li:last-child{padding-right:0; border:0;} .footer-menu-copyright nav a { padding:0; display:inline; font-size:1em;} .footer-menu-copyright nav ul{float:right;} .footer-menu-copyright .legal,.footer-menu-copyright .legal a {} .footer-menu-copyright .legal{clear:right; font-size:.65em; line-height:1.6em;}
.footer-menu-copyright .legal a{ text-decoration:underline; margin-left:3px;}

/************************
 * LARGE DESKTOP
 ************************/

@media (min-width: 1200px) {
}


/************************
 * MEDIUM DESKTOP
 ************************/
@media (min-width: 768px) {
}
/************************
 * TABLET
 ************************/
@media (min-width: 992px) {
}

/************************
 * PHONE
 ************************/

