.hidden{display:none;}
#warn{position:fixed; z-index:200; padding:10px 20px; background:#fff; top:200px; width:200px; border:#666 3px solid;}
.closeWarn{float:right; padding:0 5px; border:#000 1px solid;}
